@model LoginUser

<form asp-action="Login" asp-controller="Home" class="shadow p-3 rounded" method="post">
    <div class="mb-3">
        <label asp-for="Email"></label> 
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger font-weight-bold"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password"></label> 
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger font-weight-bold"></span>
    </div>
    <button class="btn btn-primary">Login</button>
</form>